*{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color:rgba(128, 128, 128,.5);
    position: sticky;
    top: 0;
    width: 100%;
}

nav {
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-btn{
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

.menu li {
    padding: 5px;
    margin: 5px; 
    list-style: none;
    display: inline;
}

.menu a{
    font-size: 25px;
}

.menu li a:hover{
    color: white;
}

.logo{
    margin: 5px;
    padding: 5px;
}

h1{
    font-size: 50px;
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
}

h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: rgba(48, 43, 78, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.slogen{
    font-family:'PT Serif', serif; 
    font-size: 30px;
    color:rgb(194, 116, 26);
    font-style: italic;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

article{
    background-image:url("../../image/background.png");
    background-repeat:round;
    border: solid;
    border-radius: 20px;
    border-color: rgb(179, 150, 194);
    border-width: 3px;
    padding: 10px;
    margin: 10px;
}


.div-ladingpage{
    flex: 70%;
    margin-left: 10%;
}

.shi{
    height: 30%;
    width: 30%;
    border-radius: 45%;
    flex:20%;
    margin:5% 10% 5% auto;
}

p{
    margin:5px auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.div-aboutpage1{
    flex:30%;
    margin-left:10% ;
}

.div-aboutpage2{
    flex:70%;
    margin-left: 10%;
    margin-right: 10%;
}

section{
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    align-items: center;
}

.img-aboutpage{
    height: 50px;
    width: 50px;
    border-radius: 45%;
    margin: 10px;
}

p.p-aboutpage{
    overflow:auto;
    width: auto;
    border-radius: 20px;
    border: slateblue solid 2px;
    padding: 10px;
    max-height: 500px;
    padding: 20px;
}

.a-aboutpage{
    margin-left: 10px;
    font-size: 30px;
}

.article-aboutpage{
    height: 200px;
}

.div-portfolio{
    margin: 10px;
    padding: 20px;
    background-color: turquoise;
    flex:1;
    text-align: center;
    border-radius: 100px;
}

.div-contact{
    margin: 10px;
    padding: 20px;;
    flex:1;
    background-color: lightseagreen;
}

.logo-contact{
    margin-bottom: 60px;
    padding: 10px;
    height: 100px;
    width: auto;
}

.image-portfolio{
    border-radius: 30px;
    margin: 30px;
}

.bars{
    margin-bottom: 15px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

span{
    font-weight: 500;
    font-size: 20px;
}

.line{
    height: 5px;
    width: 100%;
    background-color: mintcream;
    position: relative;
}

.line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(69, 69, 146);
}

.java::before{
    width: 70%;
}

.html::before{
    width: 60%;
}

.css::before{
    width: 60%;
}

.js::before{
    width: 70%;
}

.sql::before{
    width: 40%;
}

.card{
    padding: 20px
}

.card img{
    height: 220px;
    width: 200px;
    object-fit: cover;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@keyframes fade {
    from{opacity: 0;}
    to{opacity: 1;}
}

@media (max-width:991px) {

    nav{
        padding: 0 50px;
        text-align: center;
    }

    .menu{
        position: fixed;
        height: 100vh;
        width: 30%;
        left: -100%;
        top: 0;
        text-align: center;
        background: rgb(204, 204, 216);
    }
    
    .menu.active{
        left: 0;
    }

    .menu-btn{
        display: block;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }

    .menu li{
        display: block;
    }

    .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        color:rgb(130, 11, 241)
    }
}



