*{
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
}

h1{
    color: rgb(28, 31, 91);
    font-size: 50px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h2{
    color: rgb(28, 31, 91);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: rgba(28, 31, 91, 0.9);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

/*header design*/

header {
    background-color:rgb(28,31,91);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav {
    margin-right: 5%;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin: 5px;
    padding: 5px;
}

.menu li {
    padding: 5px;
    margin: 5px; 
    list-style: none;
    display: inline;
}

.menu a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    
}

.menu li a:hover{
    color: rgb(191, 193, 227);
    transition: all 0.5s ease;
}

.menu-btn{
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}
/*Es gilt für den erste div-tag aller Seiten*/
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/*Homepage design*/
.div-home{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-createment{
    margin-bottom: 20%;
    padding: 10px;
    height: 100px;
    width: auto;
}

.slogen{
    font-family:'PT Serif', serif; 
    font-size: 30px;
    color:rgb(96, 99, 144);
    font-style: italic;
}

.slogen:hover{
    text-shadow:rgb(239, 229, 211) 10px 10px 20px ;
    transform: scale(1.1);
}

.icon-home{
    height: 20%;
    width: 100%;
    margin-bottom: 20px;
}

.icon-home a :hover{
    box-shadow:black 10px 10px 20px ;
}

.img-icon{
    margin-right: 20px;
}

.photo{
    height: 60%;
    width: 60%;
    border-radius: 45%;
}

/*About me-Page design*/
.div-aboutpage1{
    margin-left: 10%;
    flex: 1;
    width: 30%;
}

.div-aboutpage2{
    flex: 2;
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
}



.menu2 li {
    padding: 5px;
    margin:  5px 10px ; 
    list-style: none;
    display: inline;
}

.menu2 a{
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.menu2 li a:hover{
    color: rgb(28,31,91);
    text-shadow: white 10px 10px 20px;
    transition: all 0.5s ease;
}

.div-aboutpage2 nav{
    justify-content: center;
}

article{
    background:linear-gradient(to left,#EFE5D3, #606390);
    border: solid;
    border-radius: 20px;
    border-color: black;
    border-width: 3px;
    padding: 10px;
    margin: 10px;
}

p{
    margin:5px auto;
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
}

section{
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    align-items: center;
}

.img-aboutpage{
    height: 50px;
    width: 50px;
    border-radius: 45%;
    margin: 10px;
}

p.p-aboutpage{
    overflow:auto;
    width: auto;
    border-radius: 20px;
    border: slateblue solid 2px;
    padding: 10px;
    max-height: 500px;
    padding: 20px;
}


.a-aboutpage{
    margin-left: 10px;
    font-size: 30px;
    color:white ;
    text-decoration: none;
}

.a-aboutpage:hover{   
    color: rgb(28, 31, 91);
    /*color: rgb(163, 148, 119);*/
    text-shadow: white 10px 10px 20px;
    transition: all 0.5s ease;

}

.article-aboutpage{
    height: 200px;
}

.div-portfolio{
    margin: 10px;
    padding: 20px;
    
    /*background:linear-gradient(to right,#606390,#EFE5D3);*/
    flex:1;
    text-align: center;
    border-radius: 100px;
    width: 15%;
}

.div-image{
    padding: 5%;
    margin: 20% 20% 5% 20%;
    align-items: center;
    justify-content: center;
}

.div-contact{
    margin: 10px;
    padding: 20px;;
    flex:1;
    
    /*background: linear-gradient(to left,#d7d3db, #bfc1e3);*/
    width: 40%;
}

.logo-contact{
    margin-bottom: 60px;
    padding: 10px;
    height: 100px;
    width: auto;
}

.image-portfolio{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.bars{
    margin-bottom: 15px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

span{
    font-weight: 500;
    font-size: 20px;
}

.line{
    height: 5px;
    width: 100%;
    background-color: mintcream;
    position: relative;
}

.line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(69, 69, 146);
}

.java::before{
    width: 70%;
}

.html::before{
    width: 60%;
}

.css::before{
    width: 60%;
}

.js::before{
    width: 70%;
}

.sql::before{
    width: 40%;
}

.card{
    padding: 20px;
}

.card :hover{
    transform: scale(1.1);
}

.card img{
    height: 100%;
    width: auto;
    object-fit: cover;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.owl-dots{
    text-align: center;
    margin-top: 5px;
}

.owl-dot{
    height: 15px;
    width: 15px;
    margin-right: 5px;
    outline: none!important;
    border-radius: 50%;
    border:2px solid rgb(28, 31, 91)!important;
}

.owl-dot.active{
    width: 35px;
    border-radius: 15px;
}

.owl-dot.active,
.owl-dot:hover{
    background:rgb(28, 31, 91)!important ;
}


@keyframes fade {
    from{opacity: 0;}
    to{opacity: 1;}
}

/*responsive design*/
@media (max-width:991px) {

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    /*header*/
    nav{
        padding: 0 50px;
        text-align: center;
    }

    .menu{
        position: fixed;
        height: 35vh;
        width: 30%;
        left: -100%;
        top: 0;
        text-align: center;
        background: rgba(48, 43, 78);
        transition: all 0.5s ease;
    }
    
    .menu.active{
        left: 0;
    }

    .menu-btn{
        display: block;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }

    .menu li{
        display: block;
    }

    .menu li a{
        display: inline-block;
        margin: 10px 0;
        font-size: 25px;
        color:white;
        text-decoration: none;
    }
    /*Homepage design*/
    .logo-createment{
        margin-bottom:10px;
        padding: 10px;
        height: 100px;
        width: auto;
    }
    .div-image{
        padding: 5%;
        align-items: center;
        justify-content: center;
    }

    .photo{
        height: 30%;
        width: 30%;
        border-radius: 45%;
    }

    .div-aboutpage1{
        width: 100%;
        margin-left: 50%;
    }

    section{
        display: flex;
        margin-top: 10px;
        flex-direction: row;
        align-items: center;
    }

    
}



