* {
font-family: 'PT Serif', serif;
}

header {
    background-color:rgba(128, 128, 128, .5);
    height: 10%;
}

nav {
    float: right;
    margin-right: 5%;
    margin-top: 20px;
}



li {
    list-style-type: none;
    display: inline;
    font-size: 20px;
    padding: 5px;
    margin: 5px; 
}

.logo{
    height: 100%;
    width: auto;
    margin: 5px;
    padding: 5px;
}



article{
    background-color: bisque;
    border: solid;
    border-radius: 20px;
    border-color: pink;
    border-width: 3px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.div-ladingpage{
    flex: 70%;
    margin-left: 20%;
}

.shi{
    height: 30%;
    width: 30%;
    border-radius: 45%;
    flex:20%;
    margin:5% 10% 5% auto;
}

p{
    margin:5px auto;
}

.div-aboutpage1{
    flex:30%;
    margin-left:10% ;
}

.div-aboutpage2{
    flex:70%;
}

section{
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
}

.img-aboutpage{
    height: 50px;
    width: 50px;
    border-radius: 45%;
    margin: 10px;
}

.p-aboutpage{
    overflow:auto;
    width: auto;
    border-radius: 20px;
    border: slateblue solid 2px;
    padding: 10px;
}



